/* body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.sticky-header {
  background-color: #111;
}

.logo {
  color: #fff;
}

.i {  
  color: #3a7c8a;
  position: relative;
}
.i:before {
  content: "ı";
  position: absolute; 
  color: #fff;
} 

.bg-gray {
  background-color: #e4ddd8;
}